@model TechnicoWebApi.Dtos.RepairDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Create</h1>

<h4>Repair</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRepair">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScheduledRepair" class="control-label"></label>
                <input asp-for="ScheduledRepair" class="form-control" />
                <span asp-validation-for="ScheduledRepair" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairType" class="control-label"></label>
                <select asp-for="RepairType" class="form-control">
                    @foreach (var type in Enum.GetValues(typeof(TechnicoWebApi.Models.RepairType)))
                    {
                        <option value="@type">@type</option>
                    }
                </select>
                <span asp-validation-for="RepairType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairStatus" class="control-label"></label>
                <select asp-for="RepairStatus" class="form-control">
                    @foreach (var status in Enum.GetValues(typeof(TechnicoWebApi.Models.RepairStatus)))
                    {
                        <option value="@status">@status</option>
                    }
                </select>
                <span asp-validation-for="RepairStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexRepairs">Back to List</a>
</div>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
